body{
    background-color: #fff;
}

.body-container{
    width: 960px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.metrouicss .page {
    /*Ширина и Высота для ВК*/
    width: 960px ;

    margin: auto;
    background-color: #fff;
}

.dj-table{
    width: 0 !important;
    border-collapse: collapse;
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-bottom: -10px !important;
}

.td {
    border-right: 0 !important;
    border-bottom: 0 !important;
}

.block-center{
    margin-top: 200px !important;
}

/*
* Стиль добавляем полосу прокрутки к блоку по y
*/
.block-scrollable{
    overflow-y: hidden;
}

/*
* Максимальная допустимая высота контентной области
*/

.max-vk-content-height {
    height: 2160px !important;

}

.max-site-content-height{
    height: auto;
}

/*
* Метро цвета с прозрачностью 50%
*/

.bg-color-orange-opacity{
    background-color: rgba(227, 162,26,0.5) !important;
}

.bg-color-darken-opacity{
    background-color: rgba(29, 29, 29, 0.5) !important;
}

/*
* Стиль страницы Радио станция
*/

.control{
    margin-left: 15px;
    margin-top: 8px;
    vertical-align: middle;
}

/*Volueme Slider */

.complete{
    background-color: #ffffff !important;
}

.slider{
    width: 60px !important;
    height: 8px !important;
    margin-top: 12px;
    margin-left: -10px;
}
.marker{
    height: 8px !important;
}

.volume-control
{
    margin-top: 12px;
}

.wiki-text{
    margin-top: 10px;
    font-size: 13px;
    line-height: 18px;
    font-family: 'Lucida Grande', Arial, Helvetica, Verdana, sans-serif;
}

.pull-right{
    float: right;
}

.pull-left{
    float: left;
}

.pull-menu-item-right{
    margin-left: 350px;
}

.vk_comments
{
    margin-top: 40px;
}

.margin-from-title{
    margin-top: 30px !important;
}

.info-lable
{
    background-color: #2d89ef !important;
    color: #ffffff !important;"
}

.success-lable
{
    background-color: #00a300 !important;
    color: #ffffff !important;
}

#col {
    list-style-type: none;
}

.slide-container {
    width: 720px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}​

.shortcut{
     width: 120px !important;
    height: 120px !important;
 }

.artist-item{
    width: 450px !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

.artist-item-input{
    width: 450px !important;
    height: 40px;
    font-size: 16px;
}

.similar-artist-tile{
    background-size: cover;
    background-repeat: no-repeat;
}

.image-container {
    width: 720px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/*
* Tags
*/

.tags-panel{
    margin-bottom: 18px;
}

.tags{
    margin-left: -50px;
}

.tags li{
    float: left;
}

ul{
    list-style: none;

}

.tags a {
    display: inline-block;
    color: #fff;
    padding: 3px 10px;
    margin-left: 10px;
    margin-bottom: 6px;
    background-color: #0187c5;
    border-radius: 2px;
    text-transform: lowercase;
    line-height: 24px;
    font-size: 12px;

}

.last_a {
    color: #0187c5;
    text-decoration: none;
}

.tags a:focus,
.tag  a:focus,
.tags a:hover,
.tag  a:hover {
    text-decoration: none;
    background-color: #0179b1;
    color: #fff;
}

.tags a:active {
    background-color: #016c9e;
}