body.light {
  color: #646464;
  background-color:#ffffff;
}
.light .tp-bar.inpage {
	background:#e7e5e5;
}
.light a {
	color:#646464;
}
.light h3 > a,
.light a h1,
.light a h2,
.light a h3,
.light a h4,
.light a h5,
.light a h6 {
	color:inherit;
}
 {
	color:inherit;
}

.light .menu > li li:hover a,
.light .tweet-bar li,
.light .pagination ul > .active > a {
	color: #ffffff;
}
.light .menu li a {
	position:relative;
}
.light .menu > li:hover > a:after {
	width:100%;
	height:5px;
	content:'';
	display:inline-block;
	background-color:#ffffff;
	z-index:300;
	position:absolute;
	top:32px;
	left:0px;
}
.light .menu > li ul li:hover > a {
	box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.5);
}
.light .menu > li ul li:hover > a:after {
	width:5px;
	height:100%;
	content:'';
	z-index:300;
	position:absolute;
	top:0px;
	right:0px;
}
.light .menu > li ul ul li:hover > a {
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.light .menu > li ul ul li:hover > a:after {
	background-color:rgba(255,255,255,0);
}
.light .menu > li ul ul {
	box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.5);
}

.light h1,
.light h2,
.light h3,
.light h4,
.light h5,
.light h6,
.alert,

.light .menu > li:hover a,
.light .menu > li.active > a,
.light .menu > li li a,
.light .menu > li > ul > li li:hover > a,
.light div.jp-playlist a:hover,
.light div.jp-playlist a.jp-playlist-current,


.light .picSlide li a.title,
.light .picSlide li a.title h4,
.light .picSlide li a:hover,
.light .widget h5 a,
.light .heading a,
.light .blog-links li,
.light .blog-links li a,
.light .blog-box .blog-info-strip,
.light .bottom .nav > li > a:hover,
.light .music-links a {
	color:#000000;
}


.light .picSlide li a {
	color:#8d8d8d;
}

.light .menu-bar {
	background-color:#ffffff;
}
.light .mobile-button {
	color:#ffffff;
}
.light .menu > li > a {
	color:#000000;
}

.light .menu > li:hover,
.light .menu > li.active,
.light .menu li ul,
.light .menu-bar li li ul li:hover {
	background-color:rgba(255,255,255,0.9);
}

.light .blog-box,
.light .pagination ul > li > a,
.light .pagination ul > li > span,
.light .blog-box .blog-info-strip,
.light .social-bar {
	background-color:#e7e5e5;
}
.light .bottom .nav > li > a,
.light .bottom p {
	color:#595959;
}

.light .widget-tweets blockquote.bg-red:after {
	border-top: 14px solid #c50b0b;
}

.light .bullet-arrow li {
	background-color:#bcbaba;
}
.light .btn,
.light .btn:hover,
.light .bullet-arrow li:hover,
.light .bullet-arrow li:hover a,
.light .bullet-arrow li a:hover,
.light .sb-ads a .ad-content,
.light .widget_tag_cloud .tagcloud a {
	color:#ffffff;
}

.light div.jp-playlist li,
.light div.jp-playlist a {
	color:#4e4e4e;
}


.light .bullet-arrow li a {
	color:#535353;
}

.light .user-control {
	background-color:rgba(0,0,0,0.5);
}

.light .contents {
	color:#646464;
}

.light ul.contact-matter li,
.light ul.contact-matter a,
.light .pagination ul > li > a {
	color:#646464;
}



/*** Player Skin ***/
.light .btn-expand,
.light a.jp-play,
.light a.jp-pause,
.light a.jp-stop,
.light a.jp-previous,
.light a.jp-next,
.light div.jp-seek-bar,
.light div.jp-volume-bar {
	background-color:#d5d3d3;
}
.collapse-handle:before,
.collapse-handle:after {
	background-color:#ECEAEA;
}
.jcarousel-prev,
.jcarousel-next {
  opacity: 1;
  filter: alpha(opacity=100);
}
.light div.jp-play-bar,
.light div.jp-volume-bar-value {
	border-color:#d5d3d3;
}
.light div.jp-interface,
.light .breadcrumb > li a,
.light .widget-contact p,
.light .albums li a {
	color:#000000;
}
.light .widget div.jp-seek-bar,
.light div.jp-volume-bar,
.light .widget a.jp-play,
.light .widget a.jp-pause,
.light .widget a.jp-stop,
.light .widget a.jp-previous,
.light .widget a.jp-next {
	background-color:#676767;
}

.light .dialog-block {
	background-color:#ffffff;
}
.or {
	background-color:#6c6b6a;
}
.light div.jp-playlist li {
	background-color:#dddddd;
}
.light .widget div.jp-playlist li {
	background-color:#e7e5e5;
}
div.jp-playlist li:before {
	background-position:-53px -644px;
}
.light .widget div.jp-play-bar,
.light .widget div.jp-volume-bar-value {
	border-color:#676767;
}

.light .alert,
.light ul.events li,
.light .event-details,
.light .footer,

.light .bread-bar,
.light .breadcrumb,
.light .author,
.light .user-comments li .comment-box {
	background-color:#e7e5e5;
}
.light .user-comments li .comment-box:before {
	border-color:transparent #e7e5e5 transparent transparent;
}	
.user-comments .comment-box img {
	border-color:#e7e5e5;
}
.light .event-details .event-head a.add-event,
.event-details .event-desc a.location,
.light .widget div.jp-interface {
	background-color:#bcbaba;
}
.light .widget div.jp-interface {
	background-color:#e7e5e5;
}

.light .icon-buy {
	opacity:0.4;
	-moz-opacity:0.4;
	filter:alpha(opacity:40);
}

.light textarea,
.light input[type="text"],
.light input[type="password"],
.light input[type="datetime"],
.light input[type="datetime-local"],
.light input[type="date"],
.light input[type="month"],
.light input[type="time"],
.light input[type="week"],
.light input[type="number"],
.light input[type="email"],
.light input[type="url"],
.light input[type="search"],
.light input[type="tel"],
.light input[type="color"],
.light .uneditable-input,
.light select {
  background-color:#ffffff;
  border-color:#ffffff;

	box-shadow:0px 0px 2px rgba(0,0,0,0.2);
	-moz-box-shadow:0px 0px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:0px 0px 2px rgba(0,0,0,0.2);
}
.light textarea:focus,
.light input[type="text"]:focus,
.light input[type="password"]:focus,
.light input[type="datetime"]:focus,
.light input[type="datetime-local"]:focus,
.light input[type="date"]:focus,
.light input[type="month"]:focus,
.light input[type="time"]:focus,
.light input[type="week"]:focus,
.light input[type="number"]:focus,
.light input[type="email"]:focus,
.light input[type="url"]:focus,
.light input[type="search"]:focus,
.light input[type="tel"]:focus,
.light input[type="color"]:focus,
.light .uneditable-input:focus,
.light select:focus {
	box-shadow:0px 0px 2px rgba(0,0,0,0.4);
	-moz-box-shadow:0px 0px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 0px 2px rgba(0,0,0,0.4);
}

.light .dialog-block textarea,
.light .dialog-block input[type="text"],
.light .dialog-block input[type="password"],
.light .dialog-block input[type="datetime"],
.light .dialog-block input[type="datetime-local"],
.light .dialog-block input[type="date"],
.light .dialog-block input[type="month"],
.light .dialog-block input[type="time"],
.light .dialog-block input[type="week"],
.light .dialog-block input[type="number"],
.light .dialog-block input[type="email"],
.light .dialog-block input[type="url"],
.light .dialog-block input[type="search"],
.light .dialog-block input[type="tel"],
.light .dialog-block input[type="color"],
.light .dialog-block .uneditable-input {
  background-color:#f9f9f9;
  border-color:#cccccc;

	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.light .dialog-block textarea:focus,
.light .dialog-block input[type="text"]:focus,
.light .dialog-block input[type="password"]:focus,
.light .dialog-block input[type="datetime"]:focus,
.light .dialog-block input[type="datetime-local"]:focus,
.light .dialog-block input[type="date"]:focus,
.light .dialog-block input[type="month"]:focus,
.light .dialog-block input[type="time"]:focus,
.light .dialog-block input[type="week"]:focus,
.light .dialog-block input[type="number"]:focus,
.light .dialog-block input[type="email"]:focus,
.light .dialog-block input[type="url"]:focus,
.light .dialog-block input[type="search"]:focus,
.light .dialog-block input[type="tel"]:focus,
.light .dialog-block input[type="color"]:focus,
.light .dialog-block .uneditable-input:focus {
	box-shadow:0px 0px 2px rgba(0,0,0,0.4);
	-moz-box-shadow:0px 0px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 0px 2px rgba(0,0,0,0.4);
}



/*** Sprites and background images ***/
.light a.jp-play,
.light a.jp-pause,
.light a.jp-stop,
.light a.jp-previous,
.light a.jp-next,
.light a.jp-mute,
.light a.jp-unmute,
.light a.jp-volume-max,
.light div.jp-volume-bar-value:after,
.light [class^="icon-"],
.light [class*=" icon-"],
.light .event-details .event-desc a.location,
.light .event-details .event-head a.add-event,
.light .btn-expand,
.light .tweet-bar:before,
.light .da-arrows span:after,
.light ul.contact-matter li:before,
.light a.link-location,
.light a.link-ticket,
.light .breadcrumb > li:first-child a,
.light .breadcrumb li + li:before,
.light .pagination ul > li.previous > a:before,
.light .pagination ul > li.next > a:before,
.light div.jp-playlist li:before,
.light .ui-dialog .ui-dialog-titlebar-close,
.light div.jp-playlist a.track-lyrics,
.light div.jp-playlist a.track-download,
.light .link-email,
.light .link-url {
	background-image:url(../images/sprites-light.png);
}
body.light.pattern-dotted {
	background-image:url(../images/pattern-dotted-light.png);
}
.light blockquote {
	background-image:url(../images/blockquote-light.png);	
}
.light .widget-tweets blockquote {
	background-image:url(../images/tweet.png);
}


@media (max-width: 767px) {
	body.light {
		background-color:#ffffff;
	}
	.light .event-details .event-desc a.location {
		background-color:#bcbaba;
		background-position:16px -1281px;
	}

	.light .contents,
	.light .user-comments .comment-box p {
		color:#4c4c4c;
	}

	.light .menu-bar {
		background-color:rgba(0,0,0,0.8);
	}
	.light .menu > li.active,
	.light .menu-bar li li ul li:hover,
	.light .menu > li.active:hover {
		background-color:rgba(0,0,0,0.7);
	}
	.light .menu li ul {
		background-color:#cccccc;
	}
	
	
}

@media (max-width: 480px) {
	.light .user-comments li .comment-box:before {
		border-color:transparent transparent #e7e5e5 transparent;
	}	
}
