h3 > a,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
	color:inherit;
} {
	color:inherit;
}

a:hover,
.widget h5 a:hover,
.read-more,
.widget-text p a,
.text-red,
.event-details .event-title a:hover,
.breadcrumb > li:last-child a,
.heading a:hover,
.blog-links li a:hover,
.blog-detail blockquote p,
.user-comments .comment-box strong,
.reply-link:hover,
.picSlide li a:hover,
.albums li a:hover,
.music-links a:hover,
.da-slide .da-link,
.carousel-box a:hover {
	color:#e43a2d;
}

h1,
h2,
h3,
h4,
h5,
h6,
.bullet-arrow li:hover,
.bullet-arrow li:hover a,
.bullet-arrow li a:hover,
.menu > li:hover > a,
.menu > li.active > a,
.menu > li li a,
.tweet-bar li,
.picSlide li .btm a:hover,
.sb-ads a .ad-content,
.widget h5 a,
.widget_tag_cloud .tagcloud a,
.heading a,
.blog-links li,
.blog-links li a,
.blog-box .blog-info-strip,
.bottom .nav > li > a:hover,
.music-links a,
.event-title a {
	color:#ffffff;
}

.tp-bar .logo,
.tp-up,
.menu-bar li li:hover,
.menu-bar li li ul,
.bullet-arrow li:hover,
.bg-red,
.sb-ads a .ad-content,
.widget-tweets blockquote.bg-red,
span.file_upload em,
.btn-red,
.pagination ul > .active > a,
.pagination ul > .active > span,
.pagination ul > .active > a:hover,
.pagination ul > .active > span:hover,
.event-details .event-desc a.active,
.events li .location-map,
.widget_tag_cloud .tagcloud a,
.dialog-overlay,
.slide-content {
	background-color:#e43a2d;
}

.btn-expand {
	background-color:#181818;
}
.picSlide li a {
	color:#8d8d8d;
}

.menu-bar {
	background-color:#ffffff;
}
.menu > li > a {
	color:#000000;
}

.menu > li:hover,
.menu > li.active,
.menu-bar li li ul li:hover,
.menu li ul {
	background-color:rgb(0,0,0);	
	background-color:rgba(0,0,0,0.9);
}

ul.events li,
.event-details,
.blog-box,
.pagination ul > li > a,
.pagination ul > li > span,
.blog-box .blog-info-strip,
.social-bar {
	background-color:#1a1a1a;
}
.bottom .nav > li > a {
	color:#595959;
}

.widget-tweets blockquote.bg-red:after {
	border-top: 14px solid #c50b0b;
}

.bullet-arrow li {
	background-color:#191919;
}
.bullet-arrow li a {
	color:#535353;
}
.footer,
.user-control {
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.5);
}

.contents {
	color:#686868;
}

ul.contact-matter li,
ul.contact-matter a {
	color:#b3b3b3;
}



/*** Player Skin ***/
a.jp-play,
a.jp-pause,
a.jp-stop,
a.jp-previous,
a.jp-next {
	background-color:#181818;
}
div.jp-seek-bar,
div.jp-volume-bar {
	background-color:#1e1e1e;
}
div.jp-play-bar,
div.jp-volume-bar-value {
	background-color:#e43a2d;
	border-color:#000000;
}
div.jp-interface,
.breadcrumb > li a,
.widget-contact p,
.picSlide li a,
.albums li a {
	color:#ffffff;
}

div.jp-playlist li,
.alert,
.event-details .event-head a.add-event,
.close,
.bread-bar,
.breadcrumb,
.author,
.user-comments li .comment-box,
.dialog-block {
	background-color:#090908;
}
div.jp-playlist a:hover,
div.jp-playlist a.jp-playlist-current {
	color:#e43a2d;
}
div.jp-playlist li,
div.jp-playlist a {
	color: #ffffff;
}


@media (max-width: 767px) {
	body {
		background-color:#343230;
	}
	.event-details .event-desc a.location {
		background-color:#000000;
		background-position:21px -1279px;
	}
	.event-details .event-desc a.active {
		background-color:#e43a2d;
	}
	.contents,
	.user-comments .comment-box p {
		color:#8a8a8a;
	}
}
@media (max-width: 480px) {
	.user-comments li .comment-box:before {
		border-color:transparent transparent #090908 transparent;
	}
}