/*!
 * i love rockband v.1.0.0
 * Copyright 2012 wpnukes.com
 * 
 */
 
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
	font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #868686;
  background-color:#141312;
}

a {
  color: #8d8d8d;
  text-decoration: none;
}
a:focus {
  outline: none 0px;
}
a:hover,
a:active {
  outline: 0;
}
small {
	font-size:11px;
	display:inline-block;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
	outline:none;
}

button,
input {
  *overflow: visible;
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

blockquote {
	page-break-inside: avoid;
}
thead {
	display: table-header-group;
}
tr,
img {
	page-break-inside: avoid;
}
img {
	max-width: 100%;
	border:0px;
}
p {
	font-size:12px;
  margin: 0 0 10px;
}
strong {
  font-weight: bold;
}

em {
  font-style: italic;
}
iframe {
	max-width:100%;
	max-height:100%;
	border:0px;
	padding:0px;
	margin:0px;
	display:block;
}
blockquote {
  padding:0;
  margin:35px 0;
	background-image:url(../images/blockquote.png);
	background-position:0px 6px;
	background-repeat:no-repeat;
}
blockquote p {
  font-size:18px;
  line-height:27px;
	font-style:italic;
  font-weight:300;
  margin-bottom:0;
}
.blog-detail blockquote p {
	margin-left:70px;
}
.blog-detail blockquote {
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}


/*** Heading Tags ***/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
	font-weight:300;
  line-height: 1.2;
  text-rendering: optimizelegibility;
}
h1,
h2 {
  margin: 0 0 30px 0;
}
h4,
h3 {
  margin: 0 0 10px 0;
}
h5,
h6 {
  margin: 0 0 6px 0;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
	font-weight:400;
}


/*** List Styles ***/

ul,
ol {
  padding:0;
  margin:0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

li {
  line-height: 20px;
}

ul.unstyled,
ol.unstyled,
ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
}

ul.inline > li,
ol.inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}



.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}

.container {
  width:940px;
	margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}
.container:after {
  clear: both;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}


/*** Grid Style 
///////////////////////////////// ***/

.row {
  margin-left: -20px;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}
.row:after {
  clear: both;
}

[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
	margin-bottom: 20px;
}
.bottom [class*="span"] {
	margin-bottom:0px;
}

.span12 {
  width: 940px;
}

.span11 {
  width: 860px;
}

.span10 {
  width: 780px;
}

.span9 {
  width: 700px;
}

.span8 {
  width: 620px;
}

.span7 {
  width: 540px;
}

.span6 {
  width: 460px;
}

.span5 {
  width: 380px;
}

.span4 {
  width: 300px;
}

.span3 {
  width: 220px;
}

.span2 {
  width: 140px;
}

.span1 {
  width: 60px;
}

.offset12 {
  margin-left: 980px;
}

.offset11 {
  margin-left: 900px;
}

.offset10 {
  margin-left: 820px;
}

.offset9 {
  margin-left: 740px;
}

.offset8 {
  margin-left: 660px;
}

.offset7 {
  margin-left: 580px;
}

.offset6 {
  margin-left: 500px;
}

.offset5 {
  margin-left: 420px;
}

.offset4 {
  margin-left: 340px;
}

.offset3 {
  margin-left: 260px;
}

.offset2 {
  margin-left: 180px;
}

.offset1 {
  margin-left: 100px;
}

.row-fluid {
  width: 100%;
  *zoom: 1;
}

.row-fluid:before,
.row-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

.row-fluid:after {
  clear: both;
}

.row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}

.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.127659574468085%;
}

.row-fluid .span12 {
  width: 100%;
  *width: 99.94680851063829%;
}

.row-fluid .span11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%;
}

.row-fluid .span10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%;
}

.row-fluid .span9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%;
}

.row-fluid .span8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
}

.row-fluid .span7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%;
}

.row-fluid .span6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}

.row-fluid .span5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%;
}

.row-fluid .span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}

.row-fluid .span3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}

.row-fluid .span2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%;
}

.row-fluid .span1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%;
}

.row-fluid .offset12 {
  margin-left: 104.25531914893617%;
  *margin-left: 104.14893617021275%;
}

.row-fluid .offset12:first-child {
  margin-left: 102.12765957446808%;
  *margin-left: 102.02127659574467%;
}

.row-fluid .offset11 {
  margin-left: 95.74468085106382%;
  *margin-left: 95.6382978723404%;
}

.row-fluid .offset11:first-child {
  margin-left: 93.61702127659574%;
  *margin-left: 93.51063829787232%;
}

.row-fluid .offset10 {
  margin-left: 87.23404255319149%;
  *margin-left: 87.12765957446807%;
}

.row-fluid .offset10:first-child {
  margin-left: 85.1063829787234%;
  *margin-left: 84.99999999999999%;
}

.row-fluid .offset9 {
  margin-left: 78.72340425531914%;
  *margin-left: 78.61702127659572%;
}

.row-fluid .offset9:first-child {
  margin-left: 76.59574468085106%;
  *margin-left: 76.48936170212764%;
}

.row-fluid .offset8 {
  margin-left: 70.2127659574468%;
  *margin-left: 70.10638297872339%;
}

.row-fluid .offset8:first-child {
  margin-left: 68.08510638297872%;
  *margin-left: 67.9787234042553%;
}

.row-fluid .offset7 {
  margin-left: 61.70212765957446%;
  *margin-left: 61.59574468085106%;
}

.row-fluid .offset7:first-child {
  margin-left: 59.574468085106375%;
  *margin-left: 59.46808510638297%;
}

.row-fluid .offset6 {
  margin-left: 53.191489361702125%;
  *margin-left: 53.085106382978715%;
}

.row-fluid .offset6:first-child {
  margin-left: 51.063829787234035%;
  *margin-left: 50.95744680851063%;
}

.row-fluid .offset5 {
  margin-left: 44.68085106382979%;
  *margin-left: 44.57446808510638%;
}

.row-fluid .offset5:first-child {
  margin-left: 42.5531914893617%;
  *margin-left: 42.4468085106383%;
}

.row-fluid .offset4 {
  margin-left: 36.170212765957444%;
  *margin-left: 36.06382978723405%;
}

.row-fluid .offset4:first-child {
  margin-left: 34.04255319148936%;
  *margin-left: 33.93617021276596%;
}

.row-fluid .offset3 {
  margin-left: 27.659574468085104%;
  *margin-left: 27.5531914893617%;
}

.row-fluid .offset3:first-child {
  margin-left: 25.53191489361702%;
  *margin-left: 25.425531914893618%;
}

.row-fluid .offset2 {
  margin-left: 19.148936170212764%;
  *margin-left: 19.04255319148936%;
}

.row-fluid .offset2:first-child {
  margin-left: 17.02127659574468%;
  *margin-left: 16.914893617021278%;
}

.row-fluid .offset1 {
  margin-left: 10.638297872340425%;
  *margin-left: 10.53191489361702%;
}

.row-fluid .offset1:first-child {
  margin-left: 8.51063829787234%;
  *margin-left: 8.404255319148938%;
}



/*** Form Styles
//////////////////////////////// ***/

label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

input,
button,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
}

label {
  display: block;
  margin-bottom: 7px;
	color:#000;	
}
label small {
	color:#6e6a68;	
}


select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 10px 6px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 20px;
  color: #777;
  vertical-align: middle;
}

input,
textarea,
.uneditable-input {
  width: 206px;
}

textarea {
  height: 200px;
	min-height:200px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #090908;
  border: 1px solid #090908;

	transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color:#4c4c4c;
  outline: 0;
}
textarea.disabled,
input[type="text"].disabled,
input[type="password"].disabled,
input[type="datetime"].disabled,
input[type="datetime-local"].disabled,
input[type="date"].disabled,
input[type="month"].disabled,
input[type="time"].disabled,
input[type="week"].disabled,
input[type="number"].disabled,
input[type="email"].disabled,
input[type="url"].disabled,
input[type="search"].disabled,
input[type="tel"].disabled,
input[type="color"].disabled {
	cursor:default;
	border-color: rgba(181, 181, 181, 0.3);

  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  height: 40px;
  *margin-top: 4px;
  line-height: 40px;
}
select {
  width: 100%;
	min-height:40px;
  background-color: #090908;
  border: 1px solid #090908;

	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
}
option {
	padding:10px;
}
select[multiple],
select[size] {
  height: auto;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: none dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.radio,
.checkbox {
  min-height: 20px;
  padding-left: 20px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

input:-moz-placeholder,
textarea:-moz-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #adadad;
}

.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}

.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}

.input-mini {
  width: 60px;
}
.input-small {
  width: 90px;
}
.input-medium {
  width: 150px;
}
.input-large {
  width: 210px;
}
.input-xlarge {
  width: 270px;
}
.input-xxlarge {
  width: 530px;
}


/*** Upload file style ***/
span.file_upload {
	width:100%;
	height:40px;
	line-height:40px;
	padding:0px;
	margin-bottom:20px;
	display:block;
	position:relative;
}
span.file_upload .fakeupload {
	width:96%;
	height:30px;
	line-height:26px;
	padding:4px 2%;
	margin-right:0px;
	float:left;
	background-color:#ffffff;
	border:1px solid #b5b5b5;
	position:relative;
}
span.file_upload .fakeupload:focus {
	border-color:#B2B2B2;
}
.fileUpload {
	letter-spacing:8px;
	opacity:0;
	-moz-opacity:0;
	filter:alpha(opacity:0);
	position:absolute;
	top:0px;
	left:0px;
	z-index:11;
}
span.file_upload em {
	height: 32px;
	line-height: 32px;
  padding: 0px 20px;
  margin-bottom: 0;

  font-size: 14px;
	font-style:normal;
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;

  display: inline-block;
  *display: inline;
  cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	position:absolute;
	top:4px;
	right:2px;
}



input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"] {
  float: none;
  margin-left: 0;
}
.controls-row [class*="span"],
.row-fluid .controls-row [class*="span"] {
	float:left;
}

input,
textarea {
  margin-left: 0;
}

input.span12,
textarea.span12 {
  width: 926px;
}
input.span11,
textarea.span11 {
  width: 846px;
}
input.span10,
textarea.span10 {
  width: 766px;
}
input.span9,
textarea.span9 {
  width: 686px;
}
input.span8,
textarea.span8 {
  width: 606px;
}
input.span7,
textarea.span7 {
  width: 526px;
}
input.span6,
textarea.span6 {
  width: 446px;
}
input.span5,
textarea.span5 {
  width: 366px;
}
input.span4,
textarea.span4 {
  width: 286px;
}
input.span3,
textarea.span3 {
  width: 206px;
}
input.span2,
textarea.span2 {
  width: 126px;
}
input.span1,
textarea.span1 {
  width: 46px;
}

.help-block,
.help-inline {
  color: #595959;
}
.help-block {
  display: block;
  margin-bottom: 10px;
}
.help-inline {
  display: inline-block;
  *display: inline;
  padding-left: 5px;
  vertical-align: middle;
  *zoom: 1;
}

.control-group {
  margin-bottom: 10px;
}
legend + .control-group {
  margin-top: 20px;
  -webkit-margin-top-collapse: separate;
}

.form-horizontal .control-group {
  margin-bottom: 20px;
  *zoom: 1;
}
.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: table;
  line-height: 0;
  content: "";
}
.form-horizontal .control-group:after {
  clear: both;
}
.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 180px;
  *margin-left: 0;
}
.form-horizontal .controls:first-child {
  *padding-left: 180px;
}
.form-horizontal .help-block {
  margin-bottom: 0;
}
.form-horizontal input + .help-block,
.form-horizontal select + .help-block,
.form-horizontal textarea + .help-block,
.form-horizontal .uneditable-input + .help-block,
.form-horizontal .input-prepend + .help-block,
.form-horizontal .input-append + .help-block {
  margin-top: 10px;
}



/*** Table Styles
/////////////////////////////////// ***/
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table .table {
  background-color: #ffffff;
}

.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}



/**** Icons Styles
//////////////////////////////////////////////// ***/

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url(../images/sprites.png);
  background-position: 14px 14px;
  background-repeat: no-repeat;
	background-color:transparent;
}

.icon-facebook {
	width:7px;
	background-position:0px -163px;
}
.social-icons .icon-facebook {
	background-position:-47px -164px;
}
.icon-twitter {
	background-position:0 3px;
}
.social-icons .icon-twitter {
	width:12px;
	background-position:-55px 0px;
}
.icon-youtube {
	width:34px;
	background-position:-34px -94px;
}
.icon-soundcloud {
	width:26px;
	background-position:-42px -37px;
}

.icon-tweet {
	width:21px;
	height:18px;
	background-position:0 -62px;
}
.icon-stumbleupon {
	width:17px;
	height:18px;
	background-position:0 -379px;
}
.icon-flicker {
	width:18px;
	background-position:0 -270px;
}
.icon-yahoo {
	width:25px;
	background-position:0 -119px;
}
.icon-rss {
	background-position:0 -220px;
}
.icon-msn {
	width:18px;
	background-position:0 -323px;
}
.icon-user {
	width:14px;
	height:17px;
	background-position:0 -437px;
}
.blog-links li .icon-user {
	width:9px;
	height:10px;
	margin-top:3px;
	background-position:0 -1600px;
}

.icon-search {
	width:17px;
	height:17px;
	background-position:0 -494px;
}
.icon-track {
	width:13px;
	height:11px;
	background-position:0 -947px;
}
.icon-listen {
	width:8px;
	height:9px;
	margin-top:4px;
	background-position:0 -988px;
}

.icon-date {
	width:12px;
	height:12px;
	margin-top:2px;
	background-position:0 -1558px;
}
.icon-comment {
	width:12px;
	height:10px;
	margin-top:4px;
	background-position:0 -1640px;
}
.icon-category {
	width:9px;
	height:9px;
	margin-top:4px;
	background-position:0 -1690px;
}
.icon-buy {
	width:11px;
	height:11px;
	margin-top:3px;
	background-position:0 -1397px;
}
.icon-location {
	width:9px;
	height:10px;
	margin-top:4px;
	background-position:0 -1357px;
}
.icon-email {
	width:11px;
	height:10px;
	margin-top:3px;
	background-position:0 -2128px;
}







/*** Buttons Style
///////////////////////////////////// ***/

.close {
	width:24px;
	height:24px;
  float: right;
	background-image:url(../images/sprites.png);
	background-position:6px -1432px;
	background-repeat:no-repeat;
  cursor: pointer;
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.btn {
  display: inline-block;
  *display: inline;
  padding: 5px 28px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
	text-transform:uppercase;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  *border: 0;
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
	color: #ffffff;
  text-decoration: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
}
.btn-blue {
  background-color: #006dcc;
}
.btn-yallow {
  background-color: #faa732;
}
.btn-green {
  background-color: #5bb75b;
}
.btn-black {
  background-color: #363636;
}
.btn-facebook {
	padding:12px 28px 12px 60px;
	font-size:20px;
	text-transform:capitalize;
	background-color:#2b6fad;
	background-image:url(../images/sprites.png);
	background-position:18px -2371px;
	background-repeat:no-repeat;
}
.facebook-login .btn-facebook {
	margin-top:35px;
	opacity:1 !important;
	filter: alpha(opacity=100) !important;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}
.btn:focus {
  outline: none;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  outline: 0;
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

button.btn,
input[type="submit"].btn,
input[type="button"].btn {
	padding:4px 26px;
  *padding-top:4px;
  *padding-bottom:4px;
	border:0px;
}
input[type="submit"].submit,
input[type="button"].submit {
	padding:10px 18px;
  *padding-top:10px;
  *padding-bottom:10px;
	text-transform:capitalize;
}

button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}

button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}


/**** Alert Styles 
///////////////////////////////////// ****/

.alert:before, .alert:after {
	content:'';
	display:table;
}
.alert:after {
	clear:both;
}
.alert {
  padding: 20px 25px;
  margin-bottom: 30px;
  color:#8d8d8d;
	position:relative;
}

.alert h4 {
	font-size:20px;
  margin: 0;
}
.alert p {
	width:80%;
	margin:2px 0 0 0;
	font-size:13px;
	float:left;
}
.alert .btn {
	float:right;
	margin-top:-15px;
}

.alert .close {
  position: absolute;
  top: 15px;
  right: 15px;
  line-height: 20px;
}
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}



/*** Nav Tabs Style 
///////////////////////////////////////// ***/

.nav {
  margin-bottom: 20px;
  margin-left: 0;
  list-style: none;
}
.nav > li {
	display:inline-block;
}
.nav > li > a {
	padding:0px 15px;	
	display: block;
	text-decoration:none;
}

.nav > li > a:hover {
  text-decoration: none;
}

.nav > li > a > img {
  max-width: none;
}

.nav > .pull-right {
  float: right;
}

.nav-tabs {
  *zoom: 1;
	background:#e5e5e5;
}

.nav-tabs:before,
.nav-tabs:after {
  display: table;
  line-height: 0;
  content: "";
}
.nav-tabs:after {
  clear: both;
}

.nav-tabs > li {
  float: left;
}
.nav-tabs > li > a {
  padding: 18px 20px;
  line-height: 20px;
	font-weight:bold;
	text-transform:uppercase;
}

.nav-tabs > .active > a,
.nav-tabs > .ui-state-active a,
.nav-tabs > .active > a:hover {
  color: #ffffff;
  cursor: default;
  background-color: #adadad;
}

.tabbable {
  *zoom: 1;
}
.tabbable:before,
.tabbable:after {
  display: table;
  line-height: 0;
  content: "";
}
.tabbable:after {
  clear: both;
}

.tab-content {
  overflow: auto;
}

.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}

.nav > .disabled > a {
  color: #999999;
}

.nav > .disabled > a:hover {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
}


/*** Tab Below ***/
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}
.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}
.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}
.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover {
  border-color: transparent #ddd #ddd #ddd;
}

/**** Tab Left ***/
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

/*** Tab Right ***/
.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}



/*** Breadcrumb Style
/////////////////////////////////// ***/
.bread-bar {
	padding:0 15px;
	margin-bottom:20px;
}
.breadcrumb {
  padding:10px 0;
  margin:0;
  list-style:none;
	font-size:12px;
	float:left;
}
.breadcrumb > li {
  display: inline-block;
  *display: inline;
	color:#a5a5a5;
  *zoom: 1;
}
.breadcrumb li + li {
	margin-left:11px;
}
.breadcrumb li + li:before {
	width:5px;
	height:9px;
	display:inline-block;
	content:'';
	margin-right:15px;
	background-image:url(../images/sprites.png);
	background-position:0 -1518px;
	background-repeat:no-repeat;
}
.breadcrumb > li:first-child a {
	padding-left:20px;
	background-image:url(../images/sprites.png);
	background-position:0 -1475px;
	background-repeat:no-repeat;
	background-color:transparent;
}
.breadcrumb > li:last-child a {
	cursor:default;
}
.breadcrumb > .active {
  color: #999999;
}


/*** Pagination Style
/////////////////////////////////////////// ****/
.pagination {
	height:35px;
}

.pagination ul {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  *zoom: 1;
}
.pagination ul > li {
  display: inline;
}
.pagination ul > li > a {
  float: left;
  padding: 2px 13px;
  line-height: 30px;
	margin-right:2px;
	font-size:12px;
  text-decoration: none;
	color:#ffffff;
	position:relative;
}
.pagination ul > .active > a {
  color: #ffffff;
  cursor: default;
}

.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover {
  color: #e2e2e2;
  cursor: default;
}
.pagination ul > li.previous > a,
.pagination ul > li.next > a {
	padding: 2px 16px;
  text-indent:-9999px;
}
.pagination ul > li.previous > a:before,
.pagination ul > li.next > a:before {
	width:12px;
	height:16px;
	content:'';
	background-image:url(../images/sprites.png);
	background-position:0 -1729px;
	background-repeat:no-repeat;
  background-color:transparent;
	opacity:0.5;
	filter:alpha(opacity:50);
	
	position:absolute;
	left:10px;
	top:9px;
}
.pagination ul > li.next > a:before {
	background-position:0 -1775px;
	left:11px;
}

.pagination ul > li.previous:hover > a:before,
.pagination ul > li.next:hover > a:before {
	opacity:1;
	filter:alpha(opacity:100);
}

/*** Progress Bar
/////////////////////////////////// ***/

.progress {
	height:32px;
  margin-bottom: 20px;
	padding:0 10px;
  overflow: hidden;

	background: #777777; /* Old browsers */
	background: -moz-linear-gradient(top,  #777777 0%, #909090 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#777777), color-stop(100%,#909090)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #777777 0%,#909090 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #777777 0%,#909090 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #777777 0%,#909090 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #777777 0%,#909090 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#909090',GradientType=0 ); /* IE6-9 */
}

.progress .bar {
  float: left;
  width: 0;
  height: 8px;
	margin-top:16px;
  font-size: 12px;
  color: #ffffff;
  text-align: center;

	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 100%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 100%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 100%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 100%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 100%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
     -moz-transition: width 0.6s ease;
       -o-transition: width 0.6s ease;
          transition: width 0.6s ease;
}
.progress .bar + .bar {
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}
.progress-striped .bar {
  background-color: #149bdf;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
     -moz-background-size: 40px 40px;
       -o-background-size: 40px 40px;
          background-size: 40px 40px;
}
.progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
     -moz-animation: progress-bar-stripes 2s linear infinite;
      -ms-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}


@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}



/*** other common styles
///////////////////////////////////////////////////***/
.pattern-dotted {
	background-image:url(../images/pattern-dotted.png);
	background-repeat:repeat;
}
.box {
	padding:10px;
	background:#ffffff;
}

.text-blue {
  color: #006dcc;
}
.text-yallow {
  color: #faa732;
}
.text-green {
  color: #5bb75b;
}

.text-dark-gray {
  color: #363636;
}
.text-black {
  color: #000000;
}
.text-white {
  color: #ffffff;
}


.bg-blue,
.widget-tweets blockquote.bg-blue {
  background-color: #006dcc;
}
.bg-yallow,
.widget-tweets blockquote.bg-yallow {
  background-color: #faa732;
}
.bg-green,
.widget-tweets blockquote.bg-green {
  background-color: #5bb75b;
}
.bg-dark-gray,
.widget-tweets blockquote.bg-dark-gray {
  background-color: #363636;
}
.bg-black,
.widget-tweets blockquote.bg-black {
  background-color: #000000;
}
.bg-white,
.widget-tweets blockquote.bg-white {
  background-color: #ffffff;
}


.widget-tweets blockquote.bg-blue:after {
	border-top: 14px solid #006dcc;
}
.widget-tweets blockquote.bg-yallow:after {
	border-top: 14px solid #faa732;
}
.widget-tweets blockquote.bg-green:after {
	border-top: 14px solid #5bb75b;
}
.widget-tweets blockquote.bg-black:after {
	border-top: 14px solid #363636;
}
.widget-tweets blockquote.bg-white:after {
	border-top: 14px solid #ffffff;
}