
.jp-interface .player-user {
	float:left;
	margin-right:20px;
}

div.jp-interface:before,
div.jp-interface:after {
	display:table;
	content:'';
}
div.jp-interface:after {
	clear:both;
}
div.jp-interface {
	padding-bottom:5px;
	margin-bottom:30px;
	position: relative;
}
div.jp-centered {
	margin:0 135px 0 210px;
	position:relative;
}
div.jp-right {
	position:absolute;
	top:0px;
	right:0px;	
}

/* @group progress bar */
div.jp-progress {
	height:14px;
	padding-top:8px;
	overflow:hidden;
}
div.jp-seek-bar {
	width:0px;
	height:13px;
	padding:1px 1px 0 1px;
	cursor: pointer;
}
div.jp-play-bar {
	width:0px;
	height:9px;
	border-width:1px;
	border-style:solid;
}

/* @group volume bar */
div.jp-volume-bar {
	width:120px;
	height:7px;
	margin-top:14px;
	cursor: pointer;
}
div.jp-volume-bar-value {
	width:0px;
	height:5px;
	border-width:1px;
	border-style:solid;
	position:relative;
}
div.jp-volume-bar-value:after {
	width:27px;
	height:27px;
	content:'';
	background:url(../images/sprites.png) 0 -705px no-repeat;
	position:absolute;
	top:-13px;
	right:-13px;
}


/* @group current time and duration */
div.jp-time-holder {
	position:absolute;
	top:0px;
	right:0px;
}
div.jp-time-holder ul {
	list-style:none;
	font-size:10px;
}
div.jp-time-holder ul li {
	display:inline;
}
div.jp-time-holder ul li + li:before {
	display:inline;
	content:'|';
	padding:0 6px 0 4px;
	position:relative;
	top:-1px;
}

/* @group playlist */

div.jp-title {
	font-size:15px;
	display:block !important;
	margin-right:80px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
div.jp-title span {
	font-size:12px;
}


div.jp-jplayer audio,
div.jp-jplayer {
	width:0px;
	height:0px;
}
div.jp-jplayer {
	background-color: #000000;
}




/* @group TOGGLES */

ul.jp-toggles {
	list-style-type:none;
	padding:0;
	margin:0 auto;
	overflow:hidden;
	display:none;
}
div.jp-audio .jp-type-playlist ul.jp-toggles {
	width:55px;
	margin: 0;
	position: absolute;
	left: 325px;
	top: 50px;
}

ul.jp-toggles li {
	display:block;
	float:right;
}

ul.jp-toggles li a {
	display:block;
	width:25px;
	height:18px;
	text-indent:-9999px;
	line-height:100%; /* need this for IE6 */
}



/* @group NO SOLUTION error feedback */

.jp-no-solution {
	padding:5px;
	font-size:.8em;
	background-color:#eee;
	border:2px solid #009be3;
	color:#000;
	display:none;
}

.jp-no-solution a {
	color:#000;
}

.jp-no-solution span {
	font-size:1em;
	display:block;
	text-align:center;
	font-weight:bold;
}

/* @group CONTROLS */
.jp-play-controls {
	float:left;
	padding-top:4px;
}
a.jp-play,
a.jp-pause,
a.jp-stop,
a.jp-previous,
a.jp-next,
a.jp-mute,
a.jp-unmute,
a.jp-volume-max {
	display:block;
	float:left;
	margin:0 5px;
	text-indent:-9999px;
	background-image:url(../images/sprites.png);
	background-repeat:no-repeat;
}
a.jp-play,
a.jp-pause,
a.jp-stop,
a.jp-previous,
a.jp-next {
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
}

a.jp-play,
a.jp-pause {
	width:40px;
	height:40px;
}
a.jp-play {
	background-position:14px -610px;
}
a.jp-pause {
	background-position:-17px -610px;
	display: none;
}
a.jp-stop, a.jp-previous, a.jp-next {
	width:28px;
	height:28px;
	margin-top:6px;
}
a.jp-stop {
	background-position:9px -1060px;
	display:none;
}
a.jp-previous {
	background-position:6px -533px;
}
a.jp-next {
	background-position:8px -574px;
}

a.jp-mute,
a.jp-unmute,
a.jp-volume-max {
	width:11px;
	height:11px;
	margin-top:5px;
}
a.jp-mute {
	background-position:0 -666px;
}
a.jp-unmute {
	background-position:-31px -666px;
	display: none;
}
a.jp-volume-max {
	background-position:0 -666px;
}






/*** Playlist Style
////////////////////////////////// ***/
div.jp-playlist:before,
div.jp-playlist:after {
	display:table;
	content:'';
}
div.jp-playlist:after {
	clear:both;
}
.collapsible div.jp-playlist {
	margin-bottom:10px;
}
div.jp-playlist ul {
	list-style-type:none;
}

div.jp-playlist li {
	min-height:20px;
	padding:11px 15px 10px 40px;
	margin-bottom:2px;
	position:relative;
}
div.jp-playlist li:before {
	width:15px;
	height:13px;
	content:'';
	display:inline-block;
	background-image:url(../images/sprites.png);
	background-position:0 -623px;
	background-repeat:no-repeat;
	
	position:absolute;
	left:14px;
	top:14px;
}
div.jp-playlist li:last-child {
	margin-bottom:0px;
}
div.jp-playlist a {
	font-size:15px;
}
div.jp-playlist a.jp-playlist-item-remove {
	float:right;
	display:inline;
	text-align:right;
	margin-right:10px;
	font-weight:bold;
	color:#666;
}
div.jp-playlist a.jp-playlist-item-remove:hover {
	color:#0d88c1;
}
div.jp-playlist span.jp-free-media {
	float:right;
	display:inline;
	text-align:right;
	margin-right:10px;
	position:relative;
	top:-1px;
}
div.jp-playlist span.jp-free-media a:hover{
	color:#0d88c1;
}
span.jp-artist {
	font-size:.8em;
	color:#666;
}
div.jp-playlist a.track-lyrics,
div.jp-playlist a.track-download {
	width:16px;
	height:16px;
	margin-left:12px;
	display:inline-block;
	background-image:url(../images/sprites.png);
	background-position:0 -2036px;
	background-repeat:no-repeat;

	position:relative;
	top:3px;
}
div.jp-playlist a.track-download {
	background-position:0 -2082px;
}

/*** widgetize jplayer ***/
.span7 .album-snap,
.span6 .album-snap,
.span5 .album-snap,
.span4 .album-snap,
.span3 .album-snap,
.span1 .album-snap {
	display:none;
}
.widget .jp-playlist ul {
	margin-left:0px;
}
.widget div.jp-centered {
	margin:0 155px 0 230px;
}
.span7 div.jp-centered,
.span6 div.jp-centered,
.span5 div.jp-centered,
.span4 div.jp-centered,
.span3 div.jp-centered,
.span1 div.jp-centered {
	clear:both;
	margin:0px;
}
.span7 .jp-play-controls,
.span6 .jp-play-controls,
.span5 .jp-play-controls,
.span4 .jp-play-controls,
.span3 .jp-play-controls,
.span1 .jp-play-controls {
	margin-bottom:20px;
}

.span5 div.jp-playlist span.jp-free-media a,
.span4 div.jp-playlist span.jp-free-media a,
.span3 div.jp-playlist span.jp-free-media a,
.span1 div.jp-playlist span.jp-free-media a,
.widget div.jp-time-holder {
	display:none;
}


.widget div.jp-interface {
	background-color:#191919;
	padding:20px;
	margin-bottom:0px;
}
.widget div.jp-title {
	margin-right:0px;
}
.widget div.jp-seek-bar, div.jp-volume-bar,
.widget a.jp-play,
.widget a.jp-pause,
.widget a.jp-stop,
.widget a.jp-previous,
.widget a.jp-next {
	background-color:#0a0a0a;
}

.widget div.jp-right {
	top:20px;
	right:20px;
}
.span5 .widget div.jp-right,
.span4 .widget div.jp-right,
.span3 .widget div.jp-right,
.span1 .widget div.jp-right,
.widget .widget div.jp-right {
	position:static;
	padding-top:10px;
}
.span5 .widget div.jp-vol-controls,
.span4 .widget div.jp-vol-controls,
.span3 .widget div.jp-vol-controls,
.span1 .widget div.jp-vol-controls,
.span5 .widget div.jp-volume-bar,
.span4 .widget div.jp-volume-bar,
.span3 .widget div.jp-volume-bar,
.span1 .widget div.jp-volume-bar {
	display:inline-block;
}
.span5 .widget div.jp-volume-bar,
.span4 .widget div.jp-volume-bar,
.span3 .widget div.jp-volume-bar,
.span1 .widget div.jp-volume-bar {
	width:90px;
	margin-top:8px;
	float:right;
}
.span5 .widget .jp-interface .player-user,
.span4 .widget .jp-interface .player-user,
.span3 .widget .jp-interface .player-user,
.span1 .widget .jp-interface .player-user {
	margin-right:5px;
}

@media (min-width: 1200px) {
.span5 .widget div.jp-right,
.span4 .widget div.jp-right,
.span3 .widget div.jp-right,
.span1 .widget div.jp-right,
.widget .widget div.jp-right {
	position:absolute;
	padding-top:0px;
}
.span5 .widget div.jp-vol-controls,
.span4 .widget div.jp-vol-controls,
.span3 .widget div.jp-vol-controls,
.span1 .widget div.jp-vol-controls,
.span5 .widget div.jp-volume-bar,
.span4 .widget div.jp-volume-bar,
.span3 .widget div.jp-volume-bar,
.span1 .widget div.jp-volume-bar {
	display:block;
}
.span5 .widget div.jp-volume-bar,
.span4 .widget div.jp-volume-bar,
.span3 .widget div.jp-volume-bar,
.span1 .widget div.jp-volume-bar {
	width:120px;
	margin-top:14px;
	float:none;
}
.span5 .widget .jp-interface .player-user,
.span4 .widget .jp-interface .player-user,
.span3 .widget .jp-interface .player-user,
.span1 .widget .jp-interface .player-user {
	margin-right:20px;
}


}
@media (max-width: 767px) {
.jp-play-controls {
	margin-bottom:30px;
}
div.jp-centered {
	margin:0px;
	clear:both;
}

.span5 div.jp-playlist span.jp-free-media a,
.span4 div.jp-playlist span.jp-free-media a,
.span3 div.jp-playlist span.jp-free-media a,
.span1 div.jp-playlist span.jp-free-media a {
	display:inline-block;
}
.span5 .widget div.jp-right,
.span4 .widget div.jp-right,
.span3 .widget div.jp-right,
.span1 .widget div.jp-right,
.widget .widget div.jp-right {
	position:absolute;
	padding-top:0px;
}
.span5 .widget div.jp-vol-controls,
.span4 .widget div.jp-vol-controls,
.span3 .widget div.jp-vol-controls,
.span1 .widget div.jp-vol-controls,
.span5 .widget div.jp-volume-bar,
.span4 .widget div.jp-volume-bar,
.span3 .widget div.jp-volume-bar,
.span1 .widget div.jp-volume-bar {
	display:block;
}
.span5 .widget div.jp-volume-bar,
.span4 .widget div.jp-volume-bar,
.span3 .widget div.jp-volume-bar,
.span1 .widget div.jp-volume-bar {
	width:120px;
	margin-top:14px;
	float:none;
}
.span5 .widget .jp-interface .player-user,
.span4 .widget .jp-interface .player-user,
.span3 .widget .jp-interface .player-user,
.span1 .widget .jp-interface .player-user {
	margin-right:10px;
}

}

@media (max-width: 480px) {
div.jp-playlist > a {
	display:block;
}
div.jp-playlist span.jp-free-media {
	display:block;
	float:none;
	text-align:left;
}
div.jp-playlist a.track-lyrics,
div.jp-playlist a.track-download {
	float:right;	
}

div.jp-right {
	margin-top:10px;
	position:static;
}
div.jp-vol-controls,
div.jp-volume-bar {
	display:inline-block;
}
div.jp-volume-bar {
	width:90px;
	margin-top:8px;
	float:right;
}


}