<div>
    <h2>Слушатели</h2>
    <ul class="listview image fluid">
    {% for listener in listeners %}
         <li onclick="GoUrl('http://vk.com/id{{ listener['user_id'] }}')">
             <div class="icon">
                <img src="{{ listener['user_photo'] }}">
             </div>

             <div class="data">
                 <h4> {{ listener['user_name'] }} </h4>
                 <p><span class="info-lable">{{ listener['listened_track_count'] }}</span> прослушиваний</p>
{#                 <p>Совместимость <span class="success-lable">100 %</span></p>#}
             </div>

         </li>
    {% endfor %}
    </ul>
</div>