<ul id="col">
    {% for song in songs %}
        <li>
            <div class="data">
                <a href="http://vk.com/search?&c[section]=audio&c[q]={{ song }}" target="_blank">{{ song }}</a>
            </div>
        </li>
    {% endfor %}
</ul>
