<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} Медиапортал mellowave {% endblock %}</title>

    {% block metro_css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='metro/css/modern.css')  }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='metro/css/modern-responsive.css')  }}">
    {% endblock %}

    {% block Library %}
        <script lang="javascript" src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
{#        <script lang="javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>#}
        <script lang="javascript" src="{{ url_for('static', filename='js/jquery-migrate-1.0.0.js') }}"></script>
        <script lang="javascript" src="{{ url_for('static', filename='js/knockout-2.2.0.js') }}"></script>
        <script lang="javascript" src="{{ url_for('static', filename='js/common.js') }}"></script>
        <script src="http://vk.com/js/api/xd_connection.js?2" type="text/javascript"></script>

        <script lang="javascript">

            VK.init(function() {

            });
        </script>
    {% endblock %}

    {% block sitecss %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css')  }}">
    {% endblock %}



    {% block head %}

    {% endblock %}
</head>

<body class="metrouicss body-container">
{% block body %}
    {% block body_navigation %}

    {% endblock %}

    {% block body_content %}

    {% endblock %}

    {% block body_footer %}

    {% endblock %}
{% endblock %}


{# Metro Javascript #}

{% block metro_scripts %}

    <script lang="javascript" src="{{ url_for('static', filename='metro/javascript/tile-drag.js') }}"></script>
{#    <script lang="javascript" src="{{ url_for('static', filename='metro/javascript/tile-slider.js') }}"></script>#}
    <script lang="javascript" src="{{ url_for('static', filename='metro/javascript/dialog.js') }}"></script>
    <script lang="javascript" src="{{ url_for('static', filename='metro/javascript/buttonset.js') }}"></script>
    <script lang="javascript" src="{{ url_for('static', filename='metro/javascript/dropdown.js') }}"></script>
{#    <script lang="javascript" src="{{ url_for('static', filename='metro/javascript/carousel.js') }}"></script>#}
    <script lang="javascript" src="{{ url_for('static', filename='metro/javascript/slider.js') }}"></script>
    <script lang="javascript" src="{{ url_for('static', filename='metro/javascript/input-control.js') }}"></script>

{% endblock %}

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter21201826 = new Ya.Metrika({id:21201826,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21201826" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>