{% extends "base_structure.html" %}

{% block head %}

{% endblock %}

{% block body_content %}

    <div class="page secondary">
        <div class="page-region">
            <div class="page-region-content">
                <div class="grid block-center">
                    <div class="span10 offset2 ">
                        <div class="clearfix">
                            {# Radio #}
                            <a href="/radio">
                                <div class="tile  icon bg-color-blue  outline-color-blue">
                                    <div class="tile-content">
                                      <img src="{{ url_for('static', filename="metro/icons-color/radio.png") }}">
                                    </div>
                                    <div class="brand">
                                        <span class="name">Radio</span>
                                    </div>
                                </div>
                            </a>


                            {# Player  #}
                            <a href="/player">
                                <div class="tile  icon bg-color-pink  outline-color-blue">
                                    <div class="tile-content">
                                       <img src="http://metroui.org.ua/images/Music128.png">
                                    </div>
                                    <div class="brand">
                                        <span class="name">Player</span>
                                    </div>
                                </div>
                            </a>

                            {# Video #}
                            <div class="tile icon bg-color-orangeDark outline-color-greenDark">
                                <div class="tile-content">
                                    <img src="http://metroui.org.ua/images/Video128.png">
                                </div>
                                <div class="brand">
                                    <span class="name">Video</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}