{% extends "base_structure.html" %}

{% block body_content %}
    <div class="page secondary">
        <div class="page-header ">
            <div class="page-header-content">
                <h1>Ошибка 404<small>страница не найдена :(</small></h1>
                <a onclick="window.history.go(-1);" class="back-button big page-back"></a>
            </div>
        </div>

        <div class="page-region">
            <div class="page-region-content">
               <div class="grid">
                   <div class="row">
                       <h2>Вернитесь назад и воспользуйтесь другими разделами нашего сайта.</h2>
                       <div class="span10 offset8 right">
                           <h3>С уважением, <a href="mailto:hello@h-qub.ru">Администрация</a>.</h3>
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </div>

{% endblock %}