{% extends "base_structure.html" %}

{% block body_content %}
    <div class="page secondary">
        <div class="page-header ">
            <div class="page-header-content">
                <h1>Ошибка 403<small>доступ запрещен :(</small></h1>

            </div>
        </div>

        <div class="page-region">
            <div class="page-region-content">
               <div class="grid">
                   <div class="row">
                       <h2>Приложение функционируе только из сети <a href="http://vk.com">Вконтакте</a>.</h2>
                       <div class="span10 offset8 right">
                           <h3>С уважением, <a href="mailto:hello@h-qub.ru">Администрация</a>.</h3>
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </div>

{% endblock %}