{% extends "base_structure.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='jslib/select2/select2.css') }}" rel="stylesheet"/>
    <script lang="javascript" src="{{ url_for('static', filename='jslib/select2/select2.js') }}"></script>

    <script src="{{ url_for('static', filename='js/custom_genre_radio.js') }}?0.9.0" ></script>
{% endblock %}

{% block body_content %}

    <div class="page">
        {% include "partial/navigation.html" %}
    </div>

    <div class="notices" style="margin-top: 10px; display: none;" id="notice">

    </div>

    <div class="page secondary">
        <div class="page-header">
            <div class="page-header-content">
                <h1>Создание эфира <small>по жанрам</small></h1>
                <a onclick="window.history.go(-1);" class="back-button big page-back"></a>
            </div>
        </div>
    </div>

    <div class="page-region">
        <div class="page-region-content max-vk-content-height block-scrollable">
            <div class="grid" style="margin-top: 40px;
                                    width: 700px;
                                    margin-left: 70px;

                                    ">

                <div class="row" STYLE="margin-bottom: 40px;">
                    <p>
                        Сформируйте собственный эфир из <span style="text-decoration: underline">любых</span> трех жанров. <span><a href="/radio/prepare_person_radio" style="float: right">по исполнителям</a></span>
                    </p>
                </div>

                <div class="row artist-item">

                    <h2>Жанр 1:</h2>

                    <input id="music-search-input1" type="hidden"
                           class="artist-item-input"
                            />
                </div>

                <div class="row artist-item">
                    <h2>Жанр 2:</h2>

                    <input id="music-search-input2" type="hidden"
                           class="artist-item-input"
                            />

                </div>

                <div class="row artist-item">
                    <h2>Жанр 3:</h2>

                    <input id="music-search-input3"
                           type="hidden"
                           class="artist-item-input"
                            />

                </div>

                <h3>или</h3>

                <div class="row artist-item">
                    <div class="input-control text">
                        <input id="custom_genres" class="artist-item-input" type="text" placeholder="russian folk, bard, dark electro" />
                    </div>

                    <p class="tertiary-info-secondary-text">
                      Введите через запятую до 3х произвольных жанров (латиницей), которые вы не смогли найти в общем списке и нажмите Готово. Мы сделаем все возможное, чтобы найти нужную вам музыку. Если у вас возникли сложности или вопросы пожалуйста сообщите нам об этом в <a href="http://vk.com/deepwave" target="_blank">группе</a>.
                    </p>
                </div>

                <div class="row">
                    <img
                            id="busy-indicator"
                            width="100px;"
                            style="position:absolute; margin-top: 10px; margin-left: 180px; display: none;"
                            src="{{ url_for('static', filename='metro/images/preloader-w8-line-black.gif') }}">

                    <button class="standart default"
                            style="
                             width:150px;
                             margin-left: 298px;"
                            id="create-personal-station"
                            >Готово!</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}