{% extends "base_structure.html" %}

{% from "partial/station_tiles.html" import print_stations with context %}

{% block head %}

    <script type="text/javascript">
        var station_id = '{{ station['station_id'] }}';
        var station_url = '{{ station['url'] }}';
        var station_type = '{{ station["station_type"] }}';
    </script>

    <script lang="javascript" src="{{ url_for('static', filename="js/radio.js") }}?0.9.3"></script>
    <script lang="javascript" src="{{ url_for('static', filename="jslib/jplayer/jquery.jplayer.min.js") }}"></script>

    {# Templates #}
    <script type="text/html" id="similar-artist-tile-template">
        <div class="tile">
            <div class="tile-content similar-artist-tile"
                 data-bind="style: {backgroundImage: photo}, click: $parent.commons().start_radio_by_similar_artist"
                    >
            </div>

            <div class="brand bg-color-darken-opacity">
                <p class="text" data-bind="text: name"></p>
            </div>
        </div>
    </script>
{% endblock %}

{% block body_content %}

    <div class="page">
        {% include "partial/navigation.html" %}
    </div>

    <div class="notices" style="margin-top: 10px; display: none;" id="notice">

    </div>

    <div class="page secondary">

    <div class="grid">
        <div class="row">
            <div class="span11">
                <div class="page-header">
                    <div class="page-header-content">
                        <input type="hidden" id="station-name-full" value="{{ station["name"]["eng"] }}">

                        {# Для обратной совместимости  #}
                        {% if "short" not in station["name"] %}
                           <h1  data-bind="click: rename_station"><span id="station-name">{{ station["name"]["eng"] }}</span><small>station</small></h1>
                        {% else %}
                           <h1  data-bind="click: rename_station"><span id="station-name">{{ station["name"]["short"] }}</span><small>station</small></h1>
                        {% endif %}
                        <a onclick="window.history.go(-1);" class="back-button big page-back"></a>
                    </div>
                </div>
            </div>

            <div class="span4">
               <div style="margin-top: 40px; margin-right: -20px; margin-left: 30px;">
                    <a href="#"
                       data-bind="click: commons().favorite_station">
                        {% if is_station_favorite %}
                            <span id="station-favorite-icon" class="icon-star-3" style="font-size: 28px; color: black;">в избранное</span>
                        {% else %}
                            <span id="station-favorite-icon" class="icon-star" style="font-size: 28px; color: black;">в избранное</span>
                        {% endif %}
                    </a>
               </div>
            </div>
        </div>
    </div>

    <div class="page-region">
        <div class="page-region-content max-vk-content-height block-scrollable">
            <div class="grid">
                <div class="row">
                    {# Медиа плеер #}
                    <div id="jquery_jplayer_1" style="width: 0; height: 0;">

                    </div>
                </div>

                <div class="row">
                    <div class="span12">
                        <div class="row">
                            <div class="bg-color-white border-color-blue">
                                <div class="carousel" style="height: 400px;">
                                    <div id="slides" class="slides slide-container">
                                        <img id="slide" style="width: 100%; height: 100%;">
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# Панель управления радио каналом #}
                        <div class="row bg-color-blue" style="margin-top: -24px;">

                            <div  class="span9">
                                <a href="#" data-bind="click: player().play_pause, enable: is_busy == false">
                                    <img src="{{ url_for('static', filename="metro/icons/white/pause_white.png") }}"
                                         class="control play-pause-control jp-pause">
                                </a>

                                <a href="#" data-bind="click: player().ff, visible: is_expert() == false, enable: is_busy == false">
                                    <img src="{{ url_for('static', filename="metro/icons/white/ff.png") }}"
                                         class="control">
                                </a>

{#                                <a href="#" onclick="ShowPlaylist()">#}
{#                                    <img src="{{ url_for('static', filename="metro/icons/white/details_white.png") }}"#}
{#                                         class="control">#}
{#                                </a>#}

                                 <a href="#" data-bind="click: commons().like, enable: is_busy == false">
                                    <img id="like_img" src="{{ url_for('static', filename="metro/icons/white/heart_white.png") }}"
                                         class="control">
                                </a>

                                <!--Кол-во лайков.-->
                                <a id="track_like_counter"
                                   class="fg-color-white"
                                   style="font-size: 20px;"
                                   data-bind="visible: is_expert() == false, enable: is_busy == false">

                                </a>

                                <a href="#" data-bind="click: commons().unlike, enable: is_busy == false">
                                    <img id="unlike_img" src="{{ url_for('static', filename="metro/icons/white/unlike_white.png") }}"
                                         class="control">
                                </a>

                                <a href="#" data-bind="click: commons().show_listeners, visible: is_expert(), enable: is_busy == false">
                                    <img src="{{ url_for('static', filename="metro/icons/white/user_listen_white.png") }}"
                                         class="control">
                                </a>

                                <a class="fg-color-white listener-counter" style="font-size: 20px;" data-bind="visible: is_expert()">
                                  1
                                </a>
                            </div>

                            <div class="span3 volume-control right">
                                <div>
                                    <a href="#" data-bind="click: player().volume_off" class="span1">
                                        <img src="{{ url_for('static', filename="metro/icons/white/speaker_white_mini_off.png") }}"
                                             class="jp-pause">
                                    </a>
                                </div>
                                <div>
                                    <div id="volume_slider" class="slider span1" data-role="slider" data-param-init-value="100"></div>
                                </div>
                                <div>
                                    <a href="#" data-bind="click: player().volume_on" class="span1">
                                        <img src="{{ url_for('static', filename="metro/icons/white/speaker_white_mini.png") }}"
                                             class="jp-pause">
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                    {# Биография, доп. функции. #}
                    <div class="span12">
                        <div id="info-block">
                            <div>
                                <img
                                        data-bind="visible: bio().length == 0"
                                        id="busy-indicator"
                                        width="100px;"
                                        style="margin-top: 10px; margin-left: 280px; display: none;"
                                        src="{{ url_for('static', filename='metro/images/preloader-w8-line-black.gif') }}">
                            </div>

                            <h2 class="player-title" data-bind="text: player().title">

                            </h2>

                            <div class="wiki-text margin-from-title">

                            </div>
                        </div>
                    </div>

                    <!--Tags-->
                    <div class="span12">
                        <div class="tags-panel">
                            <ul class="tags" data-bind="foreach: tags">
                                <li>
                                    <a href="#" data-bind="click:$parent.create_radio_by_genre, text: name"></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="span12">
                        <div class="advance-panel">
                            <div class="rows">
                                <div class="span4">
                                    <a id="SearchOtherSongs" href="#" target="_blank">
                                        <h1  class="icon-search" style="font-size: 16px; color: black;">&nbsp;Другие записи группы</h1>
                                    </a>
                                </div>


                                <div class="span4">
                                    <a href="#" data-bind="click: commons().start_radio_by_artist">
                                        <h1  class="icon-mic" style="font-size: 16px; color: #000000;">&nbsp;Радио исполнителя</h1>
                                    </a>
                                </div>

                                <div class="span4">
                                    <a href="#" data-bind="click: commons().add_song_to_playlist">
                                        <h1  class="icon-thumbs-up" style="font-size: 16px; color: #000000;">&nbsp;Добавить в плейлист</h1>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="span12">
                        <h2>Рекомендованные исполнители</h2>

                        <div style="background: #eef5fc" data-bind="visible: similar_artists().length == 0">
                            <p>Рекомендации отсутсвуют.</p>
                        </div>

                        <div data-bind="template: { name: 'similar-artist-tile-template', foreach: similar_artists, as: 'artist' }">

                        </div>
                    </div>

                    <div class="span12">

                        <h2>Плейлист</h2>
                        <div class="playlist">
                            <ul id="col" data-bind="foreach: history">
                                <li>
                                    <div class="data">
                                        <a target="_blank" data-bind="text: track_name, attr: {href: search_url}"></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}