{% extends "base_structure.html" %}

{# Variables #}

{% set anim_direction = ["right", "left", "down"] %}
{% set anim_period = ["3000", "2800", "2600"] %}
{% set anim_array_len = 3  %}

{% block body_content %}

    <div class="page">

        {% include "partial/navigation.html" %}

    </div>

    <div class="page secondary">
        <div class="page-header">
            <div class="page-header-content">
                <h1>{{ group["group_name"]["eng"] }}<small>группа</small></h1>
                <a onclick="history.back();" class="back-button big page-back"></a>
            </div>
        </div>

        <div class="page-region">
            <div class="page-region-content max-vk-content-height block-scrollable">
                <div class="grid">
                    <div class="row">
                        {% for station in stations %}
                            {% if not 'enabled' in station or station['enabled'] %}
                                <a href="/radio/station/{{ station["station_id"] }}">
                                    <div class="tile double image-slider"
                                         data-role="tile-slider"
                                         data-param-direction="{{ anim_direction[loop.index % anim_array_len] }}"
                                         data-param-period="{{ anim_period[loop.index % anim_array_len] }}"
                                            >
                                        {% for url_image in station["tiles"] %}
                                            <div class="tile-content">
                                                <img src="{{ url_image }}" alt="">
                                            </div>
                                        {% endfor %}

                                        <div class="brand bg-color-darken-opacity">
                                            <p class="text">{{ station["name"]["eng"] }}</p>
                                        </div>
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}