{% extends "base_structure.html" %}

{% from "partial/station_tiles.html" import print_stations with context %}

{% block head %}
<script>
 function PrepareStation(){
     document.location.href = "/radio/prepare_person_radio";
 }
</script>

{% endblock %}

{% block body_content %}

    <div class="page">
        {% include "partial/navigation.html" %}
    </div>

   <div class="page secondary">
        <div class="page-header">
            <div class="page-header-content">
                <h1>Радио<small>станции</small></h1>

{#                <a onclick="window.history.go(-1);" class="back-button big page-back"></a>#}
{#ПОИСК                #}
{#                <div class="input-control text as-block offset12" style="margin-top: 10px; margin-right: 5px;">#}
{#                    <input type="text" class="with-helper" placeholder="Поиск...">#}
{#                    <button class="helper" tabindex="-1" type="button"></button>#}
{#                </div>#}
            </div>
        </div>

        <div class="page-region">
            <div class="page-region-content max-vk-content-height block-scrollable">

                <div class="grid">
                    <div class="row">
                        <h2>Новый эфир</h2>
                        <div>
                            <img
                                    data-bind="visible: bio().length == 0"
                                    id="busy-indicator"
                                    width="100px;"
                                    style="margin-top: 10px; margin-left: 280px; margin-bottom: 20px; display: none; "
                                    src="{{ url_for('static', filename='metro/images/preloader-w8-line-black.gif') }}">
                        </div>
                        <div>
                        <button onclick="PrepareStation()" class="shortcut">
                            <span class="icon">
                                <i class="icon-music"></i>
                            </span>

                            <span class="label">
                               Создать эфир
                            </span>
                        </button>

                        <button onclick="create_stream_by_favorite()" class="shortcut">
                            <span class="icon">
                                <i class="icon-heart"></i>
                            </span>

                            <span class="label">
                               Только избранное
                            </span>
                        </button>

                        </div>
                    </div>

                    <div class="row">
                        <h2>Персональные станции</h2>
                        {% if personal_stations|length != 0 %}
                            {% for station in personal_stations %}
                                <button class="shortcut"
                                        onclick="create_favorite_station('{{ station["station_id"] }}')"
                                        title="{{ station["name"]["eng"] }}"
                                        >
                                        <span class="icon">
                                            <i class="icon-bookmark"></i>
                                        </span>

                                        <span class="label">
                                            {# Для обратной совместимости проверяем наличие нового поля short #}
                                            {% if "short" not in station["name"] %}
                                                {{  station["name"]["eng"] }}
                                            {% else %}
                                                {{ station["name"]["short"] }}
                                            {% endif %}
                                        </span>
                                </button>
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>
               </div>
            </div>
        </div>
   </div>


{% endblock %}