{% extends "base_structure.html" %}

{% block head %}

{% endblock %}

{% block body_content %}
    <div class="page">
        {% include "partial/navigation.html" %}
    </div>

    <div class="page secondary">
        <div id="player"></div>

        <script src="https://www.youtube.com/iframe_api"></script>

        <script>
          // 3. This function creates an <iframe> (and YouTube player)
          //    after the API code downloads.
          var player;
          var ariaPlaylist = ['HIBRIA - Silent Revenge', 'HIBRIA - Shoot me Down', 'Offspring - Americana'];
          var currentPlayIndex = 0;
          function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
              height: '390',
              width: '640',
              loop : 0,
              playerVars : {
                controls: 2
              },
              events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
              }
            });
          }

           // 4. The API will call this function when the video player is ready.
          function onPlayerReady(event) {
            nextPlay();
          }

          function nextPlay()
          {
            if(currentPlayIndex >= ariaPlaylist.length)
            {
                currentPlayIndex = 0;
                return;
            }

            player.loadPlaylist({listType: 'search', list: [ariaPlaylist[currentPlayIndex]]});
            player.playVideo();

            ++currentPlayIndex;
          }

          // 5. The API calls this function when the player's state changes.
          //    The function indicates that when playing a video (state=1),
          //    the player should play for six seconds and then stop.
          function onPlayerStateChange(event) {
            console.log(event.data);

            if(event.data == YT.PlayerState.ENDED)
            {
            //stopVideo();
                //nextPlay();
            }
          }
          function stopVideo() {
            player.stopVideo();
          }
        </script>
    </div>
{% endblock %}