<!DOCTYPE html>
<html>
<head>
    <title>Socket Test</title>

    <script lang="javascript" src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jslib/socket.io.js') }}"></script>

    <script>
        function SendMessage(){
            conn.send($('#txtMessage')[0].value);
        }
    </script>
    <script>
        var conn = io.connect('http://localhost:8001');

        conn.on('connect', function(){
            console.log('connected');
            conn.emit('ping', 'Boris');
        });

        conn.on('pong', function(name){
            alert('pong from ' + name);
        })

        conn.on('message', function(msg){
            alert('Got message: ' + msg);
        });

        conn.on('disconnect', function(){
           alert('disconnect');
        });
    </script>
</head>
<body>
    <h1>Socket.IO</h1>
    <div>

    </div>
</body>
</html>