<!-- footer ends -->
<div class="bottom">
    <div class="container">
        <div class="row">
            <div class="span3"> <a href="/" class="logo"><img src="{{ url_for('static', filename="css/images/logo-inverse.png") }}" alt="socialplay"></a> </div>
            <div class="span9">
                <ul class="nav pull-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Video</a></li>
                    <li><a href="#">World</a></li>
                    <li><a href="#">AsiEurope</a></li>
                    <li><a href="#">Middle East</a></li>
                    <li><a href="#">Business</a></li>
                    <li><a href="#">World Sport</a></li>
                    <li><a href="#">Entertainment</a></li>
                </ul>
                <p>&copy; 2012 support. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>
<!-- bottom ends -->
