 <div class="player-hold">
    <div id="jquery_jplayer_2" class="jp-jplayer"></div>
    <div id="jp_container_2" class="jp-audio">
        <div class="jp-type-playlist">
            <div class="jp-gui jp-interface"> <img src="{{ url_for('static', filename='css/images/source/thumbs/author-1.jpg') }}" class="player-user" alt="user">
                <div class="jp-play-controls"> <a href="javascript:;" class="jp-previous" tabindex="1">previous</a> <a href="javascript:;" class="jp-play" tabindex="1">play</a> <a href="javascript:;" class="jp-pause" tabindex="1">pause</a> <a href="javascript:;" class="jp-next" tabindex="1">next</a> <a href="javascript:;" class="jp-stop" tabindex="1">stop</a> </div>
                <!-- jp-play-controls ends -->
                <div class="jp-centered">
                    <div class="jp-title"> Cro Magnon Man <span>by The Stark Palace</span> </div>
                    <!-- jp-title ends -->
                    <div class="jp-time-holder">
                        <ul>
                            <li class="jp-current-time"></li>
                            <li class="jp-duration"></li>
                        </ul>
                    </div>
                    <!-- jp-time-holder ends -->
                    <div class="jp-progress">
                        <div class="jp-seek-bar">
                            <div class="jp-play-bar"></div>
                        </div>
                    </div>
                    <!-- jp-progress ends -->
                </div>
                <!-- jp-centered ends -->
                <div class="jp-right">
                    <div class="jp-vol-controls"> <a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a> <a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a> <span>Volume</span> </div>
                    <div class="jp-volume-bar">
                        <div class="jp-volume-bar-value"></div>
                    </div>
                    <ul class="jp-toggles">
                        <li><a href="javascript:;" class="jp-shuffle" tabindex="1" title="shuffle">shuffle</a></li>
                        <li><a href="javascript:;" class="jp-shuffle-off" tabindex="1" title="shuffle off">shuffle off</a></li>
                        <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
                        <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
                    </ul>
                </div>
                <!-- jp-right ends -->
            </div>
            <!-- jp-interface ends -->
            <div class="collapsible">
                <div class="collapse-content">
                    <div class="jp-playlist">
                        <div class="album-snap"> <img src="{{ url_for('static', filename='css/images/source/album-1.jpg') }}" alt="album"> </div>
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                    <!-- jp-playlist ends -->
                    <div class="jp-no-solution"> <span>Update Required</span> To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>. </div>
                </div>
                <div class="collapse-handle"> <a href="#" class="btn-expand">collapse</a> </div>
            </div>
            <!-- collapsible ends -->
        </div>
        <!-- jp-type-playlist ends -->
    </div>
    <!-- jp-audio ends -->
</div>