<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="world music storage">
    <meta name="author" content="anonymous group">

    <title>{%block title%} {% endblock %}</title>

    {% block theme_css %}
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>

        <link href="{{ url_for('static', filename='css/white/common.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/white/style.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/white/color.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/white/color-light.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/white/responsive.css') }}" rel="stylesheet">

        <!-- jPlayer style -->
        <link href="{{ url_for('static', filename='css/white/jplayer.css') }}" rel="stylesheet">

        <!--[if lt IE 9]><link href="{{ url_for('static', filename='css/white/ie-lt-9.css') }}" rel="stylesheet"><![endif]-->
        <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    {% endblock %}

    {% block library %}

    {% endblock %}

    {% block head %}

    {% endblock %}

</head>

<body class="pattern-dotted light">
{% block body %}

    {% block header %}
        <div class="tp-bar inpage">
            <div class="container">
                <div class="row">
                    <div class="logo span2"> <a href="/"><img src="{{ url_for('static', filename='css/images/logo.png') }}" alt="socialplay"></a> </div>
                    <!-- logo ends -->
                    <div class="span10">
                        <div class="tp-up clearfix">
                            <div class="tweet-bar">
                                <ul id="tweet">
                                    <li>Here are 10 quality, affordable Zen Cart Templates, perfect for a wide variety of eCommerce needs. http://enva.to/XiCf5F</li>
                                    <li>perfect for a wide variety of eCommerce needs. http://enva.to/XiCf5F</li>
                                    <li>Here are 10 quality, affordable Zen Cart Templates. http://enva.to/XiCf5F</li>
                                </ul>
                            </div>
                            <div class="socialize">
                                <ul>
                                    <li><a href="#" class="icon-facebook tooltip" title="facebook"></a></li>
                                    <li><a href="#" class="icon-rss tooltip" title="rss"></a></li>
                                </ul>
                            </div>
                            <div class="user-control"> <a href="#" class="user-login"><i class="icon-user"></i></a> <a href="#" class="user-search"><i class="icon-search"></i></a> </div>
                        </div>

                        <div class="menu-bar">
                            <ul class="menu">
                                <li><a href="/">Home</a></li>

                                <li><a href="/radio">Radio</a></li>
                                <li><a href="/playlists">Playlists</a></li>
                                <li><a href="/about">About us</a></li>
                            </ul>
                        </div>
                        <!-- menu-bar ends -->
                    </div>
                </div>
            </div>
        </div>
<!-- tp-links end -->
    {% endblock %}

    {% block container %}

        <div class="container">
                {% block jplayer %}
                    {% include "white/partials/player.html" %}
                {% endblock %} {# end player block #}

                 <div class="row">
                    <article class="contents span8">
                        {% block content %}

                        {% endblock %}
                    </article>

                    <aside class="sidebar span4">
                        {% block aside %}


                        {% endblock %}
                    </aside>
                 </div>

                <footer>
                    {% block footer %}
                        {% include "white/partials/footer.html" %}
                    {% endblock %}
                </footer>
        </div>

    {% endblock %}

{% endblock %}

{% block js %}

    <script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui-1.10.3.custom.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>

    <!-- jPlayer script -->
    <script type="text/javascript" src="{{ url_for('static', filename='jslib/player/jquery.jplayer.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jslib/player/jplayer.playlist.min.js') }}"></script>

    <!-- jcarousel script -->
    <script src="{{ url_for('static', filename='js/jquery.jcarousel.min.js') }}"></script>

    <link href="{{ url_for('static', filename='css/white/cslider.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.cslider.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/modernizr.custom.28468.js') }}"></script>

{% endblock %}

{% block end %}

{% endblock %}
</body>

</html>