{% extends "white/base.html" %}

{% block content %}
    <div ng-view>


        <div class="row">

            <article class="contents span12">
                <section class="album-container">
                    <h2>Recommended Artists</h2>
                    <ul class="albums clearfix">
                        <li>
                            <div class="album-box"> <img src="http://userserve-ak.last.fm/serve/500/52430157/1new.jpg" alt="pic"> <a href="album-detail.html" class="title">
                                <h4>Король и Шут</h4>
                                </a>
                                <div class="btm"> <a href="#" class="track"><i class="icon-track"></i>6 tracks</a> <a href="#" class="listen-now"><i class="icon-listen"></i>Listen Now</a> </div>
                            </div>
                        </li>
                        <li>
                            <div class="album-box"> <img src="http://userserve-ak.last.fm/serve/500/52430157/1new.jpg" alt="pic"> <a href="album-detail.html" class="title">
                                <h4>Ария</h4>
                                </a>
                                <div class="btm"> <a href="#" class="track"><i class="icon-track"></i>6 tracks</a> <a href="#" class="listen-now"><i class="icon-listen"></i>Listen Now</a> </div>
                            </div>
                        </li>
                        <li>
                            <div class="album-box"> <img src="http://userserve-ak.last.fm/serve/500/52430157/1new.jpg" alt="pic"> <a href="album-detail.html" class="title">
                                <h4>Кипелов и Маврин</h4>
                                </a>
                                <div class="btm"> <a href="#" class="track"><i class="icon-track"></i>6 tracks</a> <a href="#" class="listen-now"><i class="icon-listen"></i>Listen Now</a> </div>
                            </div>
                        </li>
                        <li>
                            <div class="album-box"> <img src="http://userserve-ak.last.fm/serve/_/99646/Kiss.jpg" alt="pic"> <a href="album-detail.html" class="title">
                                <h4>Black Sabbath</h4>
                                </a>
                                <div class="btm"> <a href="#" class="track"><i class="icon-track"></i>6 tracks</a> <a href="#" class="listen-now"><i class="icon-listen"></i>Listen Now</a> </div>
                            </div>
                        </li>
                        <li>
                            <div class="album-box"> <img src="http://userserve-ak.last.fm/serve/_/99646/Kiss.jpg" alt="pic"> <a href="album-detail.html" class="title">
                                <h4>Scorpions</h4>
                                </a>
                                <div class="btm"> <a href="#" class="track"><i class="icon-track"></i>6 tracks</a> <a href="#" class="listen-now"><i class="icon-listen"></i>Listen Now</a> </div>
                            </div>
                        </li>
                        <li>
                            <div class="album-box"> <img src="http://userserve-ak.last.fm/serve/_/99646/Kiss.jpg" alt="pic"> <a href="album-detail.html" class="title">
                                <h4>Kiss</h4>
                                </a>
                                <div class="btm"> <a href="#" class="track"><i class="icon-track"></i>6 tracks</a> <a href="#" class="listen-now"><i class="icon-listen"></i>Listen Now</a> </div>
                            </div>
                        </li>

                    </ul>
                    <!-- albums ends -->
                </section>
            </article>

            <article class="contents span12">
                <div class="alert">
                    <h4 class="text-red">Artist of the day - Iron Maiden</h4>
                    <a href="#" class="btn btn-red" style="margin-top: -25px;">Listen now</a>
                 </div>

                <section class="track-list">
                <h2>Track List</h2>
                <div class="jp-playlist">
                    <ul>
                        <li class="jp-playlist-current">
                            <div> <a class="jp-playlist-item-remove" href="javascript:;" style="display: none;">×</a> <a tabindex="1" class="jp-playlist-item jp-playlist-current" href="javascript:;">Cro Magnon Man</a> <span class="jp-free-media"> by The Stark Palace <a href="#" class="track-lyrics"></a> <a href="#" class="track-download"></a> </span> </div>
                        </li>
                        <li>
                            <div> <a class="jp-playlist-item-remove" href="javascript:;" style="display: none;">×</a> <a tabindex="1" class="jp-playlist-item" href="javascript:;">Your Face</a> <span class="jp-free-media"> by The Stark Palace <a href="#" class="track-lyrics"></a> <a href="#" class="track-download"></a> </span> </div>
                        </li>
                        <li>
                            <div> <a class="jp-playlist-item-remove" href="javascript:;" style="display: none;">×</a> <a tabindex="1" class="jp-playlist-item" href="javascript:;">Cyber Sonnet</a> <span class="jp-free-media"> by Blender Foundation <a href="#" class="track-lyrics"></a> <a href="#" class="track-download"></a> </span> </div>
                        </li>
                        <li>
                            <div> <a class="jp-playlist-item-remove" href="javascript:;" style="display: none;">×</a> <a tabindex="1" class="jp-playlist-item" href="javascript:;">Tempered Song</a> <span class="jp-free-media"> by Pixar <a href="#" class="track-lyrics"></a> <a href="#" class="track-download"></a> </span> </div>
                        </li>
                        <li>
                            <div> <a class="jp-playlist-item-remove" href="javascript:;" style="display: none;">×</a> <a tabindex="1" class="jp-playlist-item" href="javascript:;">Hidden</a> <span class="jp-free-media"> by Pixar <a href="#" class="track-lyrics"></a> <a href="#" class="track-download"></a> </span> </div>
                        </li>
                          <li>
                            <div> <a class="jp-playlist-item-remove" href="javascript:;" style="display: none;">×</a> <a tabindex="1" class="jp-playlist-item" href="javascript:;">Hidden</a> <span class="jp-free-media"> by Pixar <a href="#" class="track-lyrics"></a> <a href="#" class="track-download"></a> </span> </div>
                        </li>
                          <li>
                            <div> <a class="jp-playlist-item-remove" href="javascript:;" style="display: none;">×</a> <a tabindex="1" class="jp-playlist-item" href="javascript:;">Hidden</a> <span class="jp-free-media"> by Pixar <a href="#" class="track-lyrics"></a> <a href="#" class="track-download"></a> </span> </div>
                        </li>
                          <li>
                            <div> <a class="jp-playlist-item-remove" href="javascript:;" style="display: none;">×</a> <a tabindex="1" class="jp-playlist-item" href="javascript:;">Hidden</a> <span class="jp-free-media"> by Pixar <a href="#" class="track-lyrics"></a> <a href="#" class="track-download"></a> </span> </div>
                        </li>
                          <li>
                            <div> <a class="jp-playlist-item-remove" href="javascript:;" style="display: none;">×</a> <a tabindex="1" class="jp-playlist-item" href="javascript:;">Hidden</a> <span class="jp-free-media"> by Pixar <a href="#" class="track-lyrics"></a> <a href="#" class="track-download"></a> </span> </div>
                        </li>
                          <li>
                            <div> <a class="jp-playlist-item-remove" href="javascript:;" style="display: none;">×</a> <a tabindex="1" class="jp-playlist-item" href="javascript:;">Hidden</a> <span class="jp-free-media"> by Pixar <a href="#" class="track-lyrics"></a> <a href="#" class="track-download"></a> </span> </div>
                        </li>
                    </ul>
                </div>
            </section>
            </article>
        </div>
    </div>
{% endblock %}