<div class="nav-bar " >
    <div class="nav-bar-inner padding10">
        <a href="/">
            <span class="element brand">
                Deepwave <small>(beta)</small>
            </span>
        </a>

        <div class="divider"></div>

        <ul class="menu no-overflow">
              <li><a href="/search">Поиск</a></li>
              <li><a href="/radio">Радио</a></li>

{#            <li><a href="/recomendation">Рекомендации</a></li>#}
{#            <li><a href="http://vk.com/deepwave" target="_blank">Группа</a></li>#}

{#            <li data-role="dropdown" style="margin-left: 600px;">#}
{#                <a style="margin-top: -3px; margin-right: 5px;"><span class="icon-user-2" style="font-size: 16px;"></span></a>#}
{#                <a href="#"> {{ user.last_name }} {{ user.first_name  }} </a>#}
{#                <ul class="dropdown-menu">#}
{#                    <li><h5><i class="icon-star" style="margin-right: 4px;"></i>Избранное</h5></li>#}
{##}
{#                    {% if user.favorite_stations|length == 0 %}#}
{#                        <li><a href="#" style="font-size: 12px;">Список пуст :(</a></li>#}
{#                    {% else %}#}
{#                        {% for fav_station in user.favorite_stations %}#}
{#                            {% if fav_station.station_type == 'expert' %}#}
{#                                <li><a href="/radio/station/{{ fav_station.station_id }}">{{ fav_station["name"]["eng"] }}</a></li>#}
{#                            {% endif %}#}
{#                        {% endfor %}#}
{#                    {% endif %}#}
{##}
{#                    <li class="divider"></li>#}
{#                    <li><h5><i class="icon-puzzle" style="margin-right: 4px;"></i>Расширения</h5></li>#}
{#                    <li><a href="http://www.last.fm/api/auth/?api_key=5a29f23bdaa4f0b3a280f2ca1863032e&cb=http://127.0.0.1/last_auth" target="_blank">Подключить last.fm</a></li>#}
{#                </ul>#}
{#            </li>#}
        </ul>
    </div>
</div>