{% set anim_direction = ["right", "left", "down"] %}
{% set anim_duration = ["1500", "2000", "3000"] %}
{% set anim_period = ["3000", "2800", "2600"] %}
{% set anim_array_len = 3  %}

{% macro print_stations(stations) %}
    {% for station in stations %}
        {% if not 'enabled' in station or station['enabled'] %}
            <a href="/radio/station/{{ station["station_id"] }}">
                <div class="tile double image-slider"
                     data-role="tile-slider"
                     data-param-direction="{{ anim_direction[loop.index % anim_array_len] }}"
                     data-param-period="{{ anim_period[loop.index % anim_array_len] }}"
                        >
                    {% for url_image in station["tiles"] %}
                        <div class="tile-content">
                            <img src="{{ url_image }}" alt="">
                        </div>
                    {% endfor %}

                    <div class="brand bg-color-darken-opacity">
                        <p class="text">{{ station["name"]['eng'] }}</p>
                    </div>
                </div>
            </a>
        {% endif %}
    {% endfor %}
{% endmacro %}